:css
  .row h3 {
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e8e8e8);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
.container
  .row
    .span12
      %a(href='mailto:zhangxiaohan@berkeley.edu') 
        %h3 Email me at: zhangxiaohan (at) berkeley (dot) edu
      %a(href='https://twitter.com/hellocharlien') 
        %h3 I'm on Twitter as @hellocharlien
      %a(href='http://www.facebook.com/xiaohan.zhang.16') 
        %h3 I'm on Facebook
      %a(href='https://github.com/hellochar') 
        %h3 I'm on Github as hellochar
      %a(href='http://www.openprocessing.org/user/312') 
        %h3 I'm on OpenProcessing as hellochar

