.container
  .page-header
    %a.name(href='/') Xiaohan Zhang
    %span.nav
      %a(href='/contact') Contact
      %a(href='/resume.pdf') Resume
      %a(href="http://www.facebook.com/lonesomegiant") Music
      %a(href="http://p5wscala.wordpress.com") Blog
