.row
  .span12
    .section-header
      %h1
        theatrerice
        %small Maintaining and updating the website for my theatre group, Theatre Rice!
    .row
      %p.span12 Yeah so stuff happens
