.container
  .row
    %p.span12.about-me
      Hello! I'm a programmer currently attending U.C. Berkeley as an undergrad, pursuing a degree in Electrical Engineering and Computer Science.
      In this website you can find a portfolio of my work/hobbies.
  = render 'p5wscala/index'
  /
    .row
      .span12
        .section-header
          %h1
            theatrerice
            %small Maintaining and updating the website for my theatre group, Theatre Rice!
        .row
          %p.span12 Yeah so stuff happens
